$color-brand-primary-medium: #d20e50;
$color-brand-secondary-dark: #008f8f;
$color-brand-secondary-medium: #008f8f;

$color-neutral-darkest: #262626;
$color-neutral-dark: #9c9c9c;
$color-neutral-medium: #ababab;
$color-neutral-light: #fdfdfd;
$color-neutral-lightest: #ffffff;

$color-background-medium: #f2f2f2;
