@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Ubuntu:ital,wght@0,400;1,700&display=swap");

$global-headings-font: 'Ubuntu, "Times New Roman", serif';
$global-body-font: "Quicksand, sans-serif";

$font-size-xxxs: 12px;
$font-size-xxs: 14px;
$font-size-xs: 16px;
$font-size-sm: 18px;
$font-size-md: 22px;
$font-size-lg: 28px;
$font-size-xl: 42px;
$font-size-xxl: 48px;
$font-size-xxxl: 64px;
$font-size-display: 80px;
